.top{
    height: 300px;
    width: 101px;
    margin: -1px;
    
    transition: 1s;
    display: flexbox;
}
#title{
            
    text-align: center;
    display: flexbox;
}

div{
    display: flex;
    margin:-1px;
}

h1{
    font-size: 50px;    
    letter-spacing: 45px;

}

h4{
    font-size: large;
    letter-spacing: 5px;
}

.name{
    visibility: hidden;
    width: 120px;
    background-color: rgba(0, 0, 0, 0.39);
    color: #ffffff8f;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    height: 20px;
     
}

.top:hover{
   
    transform: scaleY(1.09) ;
}


.top:hover .name{
    visibility: visible;
}